<% include header %>

<script src="scripts/lifestream-app-account.js"></script>

<h1>Your account</h1>
<div class="col-sm-11" ng-controller="LifeStreamAccountManager as formCtrl" ng-include="'partials/horizontal-form.html'">
</div>

<% include footer %>
