<% include header %>

<script src="scripts/lifestream-app-gallerypage.js"></script>

<div ng-controller="LifeStreamGalleryPageController as galleryPage">
	<ol class="breadcrumb">
		<li class="active"><a href="#/">Main</a></li>
		<li ng-if="$routeParams.userid || $routeParams.streamid"><a href="#/user/{{galleryPage.targetUser.id}}">{{galleryPage.targetUser.name}}</a></li>
		<li ng-if="$routeParams.streamid"><a href="#/stream/{{galleryPage.targetStream.id}}">{{galleryPage.targetStream.name}}</a></li>
	</ol>
	<div ng-view></div>
</div>

<% include footer %>
