<!DOCTYPE HTML>
<html ng-app="LifeStreamWebApp">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<script src="/components/jquery/dist/jquery.js"></script>
		<script src="/components/angular/angular.js"></script>
		<script src="/components/angular-cookies/angular-cookies.js"></script>
		<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/scripts/lifestream-svc-session.js"></script>
		<script src="/scripts/lifestream-app.js"></script>
		<script src="/scripts/lifestream-app-login.js"></script>
	</head>
<body>
