<!DOCTYPE HTML>
<html ng-app="LifeStreamWeb">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<script src="/components/js-cookie/src/js.cookie.js"></script>
		<script src="/scripts/lifestream-web.js"></script>
		<script src="/components/jquery/dist/jquery.js"></script>
		<script src="/components/angular/angular.js"></script>
		<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
	</head>
<body>
