<!DOCTYPE HTML>
<html ng-app="LifeStreamWebApp">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css" />
		<link rel="stylesheet" href="css/lifestream-alerts.css" />
		<link rel="stylesheet" href="css/lifestream-gallery.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="components/jquery/dist/jquery.js"></script>
		<script src="components/angular/angular.js"></script>
		<script src="components/angular-animate/angular-animate.js"></script>
		<script src="components/angular-cookies/angular-cookies.js"></script>
		<script src="components/angular-route/angular-route.js"></script>
		<script src="components/angular-inview/angular-inview.js"></script>
		<script src="components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
		<script src="scripts/lifestream-svc-alerts.js"></script>
		<script src="scripts/lifestream-svc-lightbox.js"></script>
		<script src="scripts/lifestream-svc-session.js"></script>
		<script src="scripts/lifestream-svc-keepalive.js"></script>
		<script src="scripts/lifestream-app.js"></script>
		<script src="scripts/lifestream-app-gallery.js"></script>
	</head>
<body>
<noscript>
	<div class="alert alert-warning" style="padding-left: 1.95em; text-indent: -0.65em;">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Warning:</span>
		This site requires JavaScript to work properly. Without JavaScript enabled, you will not be able to access any features of this site. Follow this link for instructions on <a href="http://www.enable-javascript.com/" target="_blank">how to enable JavaScript in your web browser</a>.
	</div>
</noscript>
<div id="alerts-containers-container" class="col-lg-offset-8 col-md-offset-7 col-sm-offset-6 col-xs-offset-5 col-lg-4 col-md-5 col-sm-6 col-xs-7">
	<ls-alerts id="persistent-alerts" collapsible="bottom" dodge  collapse-on-timeout="4000" container="persistent"></ls-alerts>
	<ls-alerts id="global-alerts" dodge dismiss-on-timeout="4000"></ls-alerts>
</div>
<% include navbar %>
