<!DOCTYPE HTML>
<html ng-app="LifeStreamWebApp">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css" />
		<script src="components/jquery/dist/jquery.js"></script>
		<script src="components/angular/angular.js"></script>
		<script src="components/angular-cookies/angular-cookies.js"></script>
		<script src="components/angular-route/angular-route.js"></script>
		<script src="components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
		<script src="scripts/lifestream-svc-session.js"></script>
		<script src="scripts/lifestream-svc-keepalive.js"></script>
		<script src="scripts/lifestream-app.js"></script>
	</head>
<body>
