<% include header %>

<h1><%= title %></h1>
<p>This site is an implementation of <a href="https://github.com/kayateia/lifestream-node-server">lifestream-node-server</a>, a photo sharing service that clients interact with through a <a href="https://github.com/kayateia/lifestream-node-server/blob/master/API.md">REST API</a>.</p>
<p>The reference Web client is included. The reference mobile client is <a href="https://github.com/kayateia/lifesharp">LifeSharp</a>.</p>
<p>To begin using this site, click <a href="login">Login</a> in the navigation bar.</p>

<% include footer %>
