<script src="scripts/lifestream-app-navbar.js"></script>
<script>
	serverData.isAdmin = <%= isAdmin %>;
	serverData.userid = "<%= userid %>";
	serverData.userLogin = "<%= userLogin %>";
</script>
<nav ng-controller="LifeStreamNavbarController as navbar" class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ls-navbar-collapsible" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href=".">LifeStream</a>
	</div>
	<div class="collapse navbar-collapse" id="ls-navbar-collapsible">
		<% if (userid) { %>
			<ul class="nav navbar-nav navbar-left">
				<li ng-class="{ active: navbar.page == '/gallery' }"><a href="gallery">Gallery</a><li>
				<li ng-class="{ active: navbar.page == '/streams' }"><a href="streams">Streams</a><li>
				<li ng-class="{ active: navbar.page == '/upload' }"><a href="upload">Upload</a><li>
				<% if (isAdmin) { %>
					<li ng-class="{ active: navbar.page == '/usermgr' }"><a href="usermgr">User Manager</a></li>
				<% } %>
			</ul>
		<% } %>
		<ul class="nav navbar-nav navbar-right">
			<li ng-if="!navbar.user" ng-class="{ active: navbar.page == '/login' }"><a href="login">{{navbar.loginLabel}}</a></li>
			<li ng-if="navbar.user" ng-class="[dropdown, { active: navbar.page == '/login' || navbar.page == '/account' }]">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="$event.preventDefault();">{{navbar.user.name}} <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="account">Account</a></li>
					<li><a href="#" ng-click="navbar.toggleLogin()">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
