.alerts-container {
	z-index: 10; /* alerts stay visible when overlapping other content */
	pointer-events: none; /* passthrough mouse input to elements below */
}

/* Animate collapsing and expanding collapsible containers */
.alerts-container.ng-hide {
	opacity: 0;
	transform: scale(0.2);
	transform-origin: 100% 125%;
}
.alerts-container.ng-hide-add {
	transition: all 0.25s;
}
.alerts-container.ng-hide-remove {
	transition: all 0.25s;
}
.alerts-container.doNotAnimate.ng-hide-remove {
	transition: none;
}

/* Alerts turn translucent when hovered over */
.alerts-container .alert.translucent {
	opacity: 0.5;
}

/* Theme for individual alert bubbles */
.alerts-container .alert {
	box-shadow: 0 5px 10px rgba(34, 34, 34, 0.25);
	margin-bottom: 10px;
	opacity: 1;
	transition: opacity 0.25s;
	padding-bottom: 5px;
	padding-top: 5px;
}

/* Animate alerts being added and removed */
.alerts-container .alert.ng-enter {
	opacity: 0;
	transition: opacity 0.25s;
}
.alerts-container .alert.ng-enter.ng-enter-active {
	opacity: 1;
}
.alerts-container .alert.ng-leave {
	opacity: 1;
	transition: opacity 1s;
}
.alerts-container .alert.ng-leave.ng-leave-active {
	opacity: 0;
}

/* Close button needs to accept mouse input */
.alerts-container .alert button {
	pointer-events: auto;
}

/* Animate collapse widget appearing and vanishing */
.alerts-toggle-container.ng-enter {
	opacity: 0;
	transition: opacity 0.25s;
}
.alerts-toggle-container.ng-enter-active {
	opacity: 1;
}
.alerts-toggle-container.ng-leave {
	opacity: 1;
	transition: opacity 1s;
}
.alerts-toggle-container.ng-leave-active {
	opacity: 0;
}

/* Theme for collapsible alerts container toggle */
.alerts-toggle-container .alert {
	background-color: #f9f9f9;
	box-shadow: 0 5px 10px rgba(34, 34, 34, 0.25);
	cursor: pointer;
	display: inline-block;
	margin-bottom: 10px;
	padding: 5px 15px;
	z-index: 10;
}
