body {
	background-color: #222222;
	color: #eeeeee;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	padding-top: 15px;
	padding-bottom: 15px;
}

a,
button.btn-link {
	color: #00B7FF;
	text-decoration: none;
}
a:hover,
a:focus,
a:active,
button.btn-link:hover,
button.btn-link:focus,
button.btn-link:active {
	color: #7FDAFF;
	text-decoration: underline;
}

#alerts-containers-container {
	position: fixed;
	bottom: 0;
	right: 0;
	pointer-events: none;
	z-index: 1500;
}
#alerts-containers-container .alerts-toggle-container {
	text-align: right;
}

.navbar {
	background-image: url("../images/lsvibrant.jpg");
	background-position: center 0;
	background-size: cover;
	border-style: none;
}
.navbar .navbar-brand {
	color: #854E83;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: rgba(15, 15, 15, 0.5);
	color: #eeeeee;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: rgba(15, 15, 15, 0.1);
}

.breadcrumb {
	background-image: linear-gradient(to right, #333333, #222222 25%);
}
.breadcrumb > li + li:before {
	content: '»';
}

/* uib-popover should use dark colour scheme like rest of site */
.popover {
	background-color: #222222;
	white-space: nowrap;
}
.popover.top > .arrow:after {
	border-top-color: #222222;
}

/* Fix for angular-bootstrap: https://angular-ui.github.io/bootstrap/ */
.nav,
.pagination,
.carousel,
.panel-title a {
	cursor: pointer;
}

table.streams-editor th,
table.streams-editor td {
	padding: 0 15px 15px 15px; /* space between columns */
	vertical-align: top;
}
table.streams-editor button.btn-link {
	color: #eeeeee;
}
table.streams-editor button.btn-link:hover {
	color: #7FDAFF;
}
table.streams-editor .stream-name {
	/* Align label relative to where text would normally appear inside a form field  */
	display: block;
	margin: 8px 0 0 13px;
}
table.streams-editor .pending {
	color: #888888;
	margin-left: 10px;
}
table.streams-editor .pending ul {
	list-style: none;
	margin-left: 0;
	padding-left: 20px;
}
table.streams-editor .pending li {
	white-space: nowrap;
}
table.streams-editor .pending button.btn-link {
	color: #888888;
	padding-top: 0;
	padding-bottom: 0;
}
table.streams-editor .pending label {
	font-weight: normal;
	margin-bottom: 0;
}

.search-result .gallery-section .gallery-tile {
	font-size: 10px;
}

.search-result .gallery-section > h2,
.subscription-list .gallery-section > h2 {
	font-size: 20px;
}

.search-result .gallery-section > h2.affix + .gallery-grid.expanded,
.subscription-list .gallery-section > h2.affix + .gallery-grid.expanded {
	padding-top: 50px;
}


.search-result ul,
.subscription-list ul {
	list-style: none;
}

table.streams-editor .pending.ng-enter,
table.streams-editor .pending li.ng-enter,
.subscription-list li.ng-enter {
	opacity: 0;
	transition: opacity 1s;
}
table.streams-editor .pending.ng-enter.ng-enter-active,
table.streams-editor .pending li.ng-enter.ng-enter-active,
.subscription-list li.ng-enter.ng-enter-active {
	opacity: 1;
}
table.streams-editor .pending.ng-leave,
table.streams-editor .pending li.ng-leave,
table.streams-editor tr.ng-leave,
.subscription-list li.ng-leave,
.subscriber-list li.ng-leave {
	opacity: 1;
	transition: opacity 1s;
}
table.streams-editor .pending.ng-leave.ng-leave-active,
table.streams-editor .pending li.ng-leave.ng-leave-active,
table.streams-editor tr.ng-leave.ng-leave-active,
.subscription-list li.ng-leave.ng-leave-active,
.subscriber-list li.ng-leave.ng-leave-active {
	opacity: 0;
}
