body {
	background-color: #222222;
	color: #eeeeee;
	padding: 20px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
	text-decoration: none;
}
a:hover {
	color: #7FDAFF;
	text-decoration: underline;
}

#alerts-containers-container {
	position: fixed;
	bottom: 0;
	right: 0;
	pointer-events: none;
	z-index: 10;
}
#alerts-containers-container .alerts-toggle-container {
	text-align: right;
}

.navbar {
	background-image: url("../images/lsvibrant.jpg");
	background-position: center 0;
	background-size: cover;
	border-style: none;
}
.navbar .navbar-brand {
	color: #854E83;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: rgba(15, 15, 15, 0.5);
	color: #eeeeee;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: rgba(15, 15, 15, 0.1);
}

/* Fix for angular-bootstrap: https://angular-ui.github.io/bootstrap/ */
.nav,
.pagination,
.carousel,
.panel-title a {
	cursor: pointer;
}

.lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.lightbox-nav .close,
.lightbox-nav .next,
.lightbox-nav .prev {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	position: absolute;
}
.lightbox-nav .close:focus,
.lightbox-nav .next:focus,
.lightbox-nav .prev:focus {
	outline: none;
}
.lightbox-nav .close {
	background-color: black;
	border-color: #eeeeee;
	border-radius: 15px;
	border-style: solid;
	border-width: 2px;
	box-shadow: 0 1px 2px black;
	color: #eeeeee;
	opacity: 1.0;
	padding: 0 4px 4px 4px;
	top: -15px;
	right: -15px;
	z-index: 2; /* layer above navigation controls */
}
.lightbox-nav .next,
.lightbox-nav .prev {
	background: none;
	background-clip: content-box;
	border: none;
	font-size: 60px;
	width: 45%;
	height: 100%;
	text-shadow: 0 2px 4px black;
	z-index: 1; /* layer below comment text and close button */
}
.lightbox-nav .next:hover,
.lightbox-nav .prev:hover {
	background-color: rgba(102, 102, 102, 0.67);
}
.lightbox-nav .next {
	padding: 30% 10% 30% 20%;
	top: 0;
	right: -25%;
}
.lightbox-nav .prev {
	padding: 30% 20% 30% 10%;
	top: 0;
	left: -25%;
}
@media (max-width: 768px) {
	.lightbox-nav .next {
		padding: 30% 2% 30% 10%;
		text-align: right;
		width: 25%;
		right: -15px;
	}
	.lightbox-nav .prev {
		padding: 30% 10% 30% 2%;
		text-align: left;
		width: 25%;
		left: -15px;
	}
}

.lightbox-image-caption {
	color: #eeeeee;
	text-shadow: 0 0 0.2em #222222, 0 0 0.4em #444444;
	position: absolute;
	bottom: 0;
	left: 0;
	top: inherit; /* top needs to be specified here to override the value in  angular-bootstra-lightbox.css */
	z-index: 2; /* layer above navigation controls */
}
.lightbox-image-caption span {
	background: none;
	box-shadow: none;
}
.lightbox-image-caption .btn-edit {
	font-size: 0.67em;
}

.lightbox-image-container form {
	padding: 0.5em 0.9em;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 2; /* layer above navigation controls */
}

.lightbox-image-container .btn-edit {
	cursor: pointer;
}
.lightbox-image-container .btn-edit:hover {
	color: #7FDAFF;
	text-decoration: underline;
}
.lightbox-image-container form input[type=text] {
	background-color: rgba(34, 34, 34, 0.67);
	color: #eeeeee;
}

table.streams-editor th,
table.streams-editor td {
	padding: 0 15px 15px 15px; /* space between columns */
	vertical-align: top;
}
table.streams-editor button.btn-link {
	color: #eeeeee;
}
table.streams-editor button.btn-link:hover {
	color: #7FDAFF;
}
table.streams-editor .stream-name {
	/* Align label relative to where text would normally appear inside a form field  */
	display: block;
	margin: 8px 0 0 13px;
}
table.streams-editor .pending {
	color: #888888;
	margin-left: 10px;
}
table.streams-editor .pending ul {
	list-style: none;
	margin-left: 0;
	padding-left: 20px;
}
table.streams-editor .pending li {
	white-space: nowrap;
}
table.streams-editor .pending button.btn-link {
	color: #888888;
	padding-top: 0;
	padding-bottom: 0;
}
table.streams-editor .pending label {
	font-weight: normal;
	margin-bottom: 0;
}

.search-result .gallery-section > h2,
.subscription-list .gallery-section > h2 {
	font-size: 20px;
}

.search-result .gallery-section > h2.affix + .gallery-grid.expanded,
.subscription-list .gallery-section > h2.affix + .gallery-grid.expanded {
	padding-top: 50px;
}


.search-result ul,
.subscription-list ul {
	list-style: none;
}

.search-result .gallery-tile,
.subscription-list .gallery-tile {
	font-size: 8px;
}

table.streams-editor .pending.ng-enter,
table.streams-editor .pending li.ng-enter,
.subscription-list li.ng-enter {
	opacity: 0;
	transition: opacity 1s;
}
table.streams-editor .pending.ng-enter.ng-enter-active,
table.streams-editor .pending li.ng-enter.ng-enter-active,
.subscription-list li.ng-enter.ng-enter-active {
	opacity: 1;
}
table.streams-editor .pending.ng-leave,
table.streams-editor .pending li.ng-leave,
table.streams-editor tr.ng-leave,
.subscription-list li.ng-leave,
.subscriber-list li.ng-leave {
	opacity: 1;
	transition: opacity 1s;
}
table.streams-editor .pending.ng-leave.ng-leave-active,
table.streams-editor .pending li.ng-leave.ng-leave-active,
table.streams-editor tr.ng-leave.ng-leave-active,
.subscription-list li.ng-leave.ng-leave-active,
.subscriber-list li.ng-leave.ng-leave-active {
	opacity: 0;
}
