body {
	background-color: #222222;
	color: #eeeeee;
	padding: 50px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

/* Fix for angular-bootstrap: https://angular-ui.github.io/bootstrap/ */
.nav,
.pagination,
.carousel,
.panel-title a {
	cursor: pointer;
}

/* Kludge around the fact that Angular ngRepeat wraps each repetition with the
 * the element to which the ng-repeat tag was attached.
 *
 * A <div ng-repeat="..."> would therefore cause each repetition to be wrapped
 * inside a <div> tag, but gallery tiles should e displayed inline.
 */
.gallery-section div[ng-repeat] {
	display: inline-block;
	margin-right: 4px;
}

.gallery-grid {
	overflow: scroll;
	white-space: nowrap;
}
.gallery-grid.expanded {
	white-space: normal;
}
.gallery-tile {
	background-position: center;
	background-size: cover;
	display: table-cell;
	height: 192px;
	width: 192px;
	vertical-align: bottom;
}
.gallery-tile.placeholder {
	height: 1px;
}
.gallery-tile > ul {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	color: white;
	margin: 0;
	padding: 5px;
	position: relative;
}
.gallery-tile > ul > li {
	list-style: none;
}
.gallery-tile .glyphicon {
	position: absolute;
	top: 5px;
	right: 5px;
}
