<div ng-controller="LifeStreamLightboxController as lightboxCtrl" class="modal-body">
	<div class="lightbox-nav">
		<button class="close" aria-hidden="true" ng-click="$dismiss()">×</button>
		<button class="prev" aria-hidden="true" ng-click="Lightbox.prevImage()">&lt;</button>
		<button class="next" aria-hidden="true" ng-click="Lightbox.nextImage()">&gt;</button>
	</div>
	<div class="lightbox-image-container" ng-swipe-left="lightbox.nextImage()" ng-swipe-right="lightbox.prevImage()">
		<div ng-hide="lightboxCtrl.commentFormShown" class="lightbox-image-caption">
			<span>{{Lightbox.images[Lightbox.index].comment}}</span>
			<div ng-show="lightboxCtrl.isMyImage" ng-click="lightboxCtrl.showCommentForm($event)" class="btn-edit">
				<span class="glyphicon glyphicon-pencil" />
				<span>Edit comment?</span>
			</div>
		</div>
		<form ng-show="lightboxCtrl.commentFormShown" ng-submit="lightboxCtrl.saveComment()">
			<div id="commentInputGroup" class="input-group">
				<input id="newComment" name="newComment" ng-model="lightboxCtrl.newComment" type="text" class="form-control" />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" /></button>
				</span>
			</div>
		</form>
		<a href="{{Lightbox.imageUrl}}" target="_blank"><img lightbox-src="{{Lightbox.imageUrl}}" /></a>
	</div>
</div>
