<h2>Subscribe to a stream</h2>
<form id="newSubscriptionForm" name="newSubscriptionForm" ng-submit="formCtrl.submitSearch()" class="form-horizontal">
	<div class="form-group">
		<label for="searchField" class="col-sm-3 control-label">Search</label>
		<div class="col-sm-9">
			<div class="input-group">
				<input id="searchField" name="searchField" class="form-control" type="text" aria-describedby="searchFieldHelp" ng-model="formCtrl.search.terms" />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search" />
					</button>
				</span>
			</div>
			<span id="searchFieldHelp" class="help-block">Find streams you haven't subscribed to yet</span>
		</div>
	</div>
</form>
<div class="search-result" ng-if="formCtrl.search.users.length">
	Matching users:
	<ul>
		<li ng-repeat="user in formCtrl.search.users">
			<a href="#" ng-click="formCtrl.toggleUser(user.id, $event)">{{user.name}} ({{user.login}})</a>
			<ul ng-if="formCtrl.search.userStreams[user.id].length > 0">
				<li ng-repeat="stream in formCtrl.search.userStreams[user.id]" ng-if="stream.subscription && stream.subscription != 'active'">
					<ls-gallery streamid="{{stream.id}}" thumb-size="96" title="{{stream.name}}"></ls-gallery>
					<button class="btn btn-link" ng-if="stream.permission == 1" ng-click="formCtrl.subscribe(stream)">subscribe</button>
					<button class="btn btn-link" ng-if="stream.permission == 2 && stream.subscription == 'none'" ng-click="formCtrl.requestInvite(stream)">request invite</button>
					<button class="btn btn-link" ng-if="stream.permission == 2 && stream.subscription == 'requested'" ng-click="formCtrl.unrequestInvite(stream)">cancel invite request</button>
					<button class="btn btn-link" ng-if="stream.permission == 2 && stream.subscription == 'invited'" ng-click="formCtrl.subscribe(stream)">accept invite (subscribe)</button>
					<button class="btn btn-link" ng-if="stream.permission == 2 && stream.subscription == 'invited'" ng-click="formCtrl.uninvite(stream)">reject invite</button>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="search-result" ng-if="formCtrl.search.streams.length">
	Matching streams:
	<ul>
		<li ng-repeat="stream in formCtrl.search.streams" ng-if="stream.subscription && stream.subscription != 'active'">
			<ls-gallery streamid="{{stream.id}}" thumb-size="96" title="{{stream.name}}"></ls-gallery>
			<button class="btn btn-link" ng-if="stream.permission == 1" ng-click="formCtrl.subscribe(stream)">subscribe</button>
			<button class="btn btn-link" ng-if="stream.permission == 2 && stream.subscription == 'none'" ng-click="formCtrl.requestInvite(stream)">request invite</button>
			<button class="btn btn-link" ng-if="stream.permission == 2 && stream.subscription == 'requested'" ng-click="formCtrl.unrequestInvite(stream)">cancel invite request</button>
			<button class="btn btn-link" ng-if="stream.permission == 2 && stream.subscription == 'invited'" ng-click="formCtrl.subscribe(stream)">accept invite (subscribe)</button>
			<button class="btn btn-link" ng-if="stream.permission == 2 && stream.subscription == 'invited'" ng-click="formCtrl.uninvite(stream)">reject invite</button>
		</li>
	</ul>
</div>
<div class="invite-list" ng-if="formCtrl.invites.length">
	<h2>You've been invited!</h2>
	<ul>
		<li ng-repeat="invite in formCtrl.invites">
			{{invite.streamName}} from {{invite.userName}}
			<button class="btn btn-link" ng-click="formCtrl.subscribe(invite)">accept invite (subscribe)</button>
			<button class="btn btn-link" ng-click="formCtrl.uninvite(invite)">reject invite</button>
		</li>
	</ul>
</div>
<div class="request-list" ng-if="formCtrl.requests.length">
	<h2>Streams you'd like to follow</h2>
	<ul>
		<li ng-repeat="request in formCtrl.requests">
			{{request.streamName}} from {{request.userName}}
			<button class="btn btn-link" ng-click="formCtrl.unrequestInvite(request)">cancel invite request</button>
		</li>
	</ul>
</div>
<div class="subscription-list" ng-if="formCtrl.subscriptions.length">
	<h2>Your subscriptions</h2>
	<ul>
		<li ng-repeat="subscription in formCtrl.subscriptions">
			<ls-gallery streamid="{{subscription.streamid}}" thumb-size="192" title="{{subscription.streamName}}"></ls-gallery>
			<button class="btn btn-link" ng-click="formCtrl.unsubscribe(subscription)">unsubscribe</button>
		</li>
	</ul>
</div>
