<div class="col-sm-offset-2 col-sm-8">
	<form id="usermgrForm" name="usermgrForm" ng-controller="UserEditController as formCtrl" ng-submit="formCtrl.submit()" class="form-horizontal">
		<div ng-repeat="field in formCtrl.fields">
			<div ng-class="[ 'form-group has-feedback', { 'has-success': usermgrForm[field.id].$touched && usermgrForm[field.id].$valid, 'has-error': usermgrForm[field.id].$touched && usermgrForm[field.id].$invalid } ]">
				<label for="{{field.id}}" class="col-sm-3">{{field.label}}</label>
				<div class="col-sm-9">
					<input id="{{field.id}}" name="{{field.id}}" ng-model="formCtrl[field.id]" ng-model-options="{ updateOn: 'blur' }" ng-change="field.validator(usermgrForm[field.id])" type="{{field.type}}" class="form-control" ng-required="field.required" aria-describedby="{{field.id}}Help" />
					<span ng-class="[ 'form-control-feedback glyphicon', { 'glyphicon-ok': usermgrForm[field.id].$touched && usermgrForm[field.id].$valid, 'glyphicon-remove': usermgrForm[field.id].$touched && usermgrForm[field.id].$invalid } ]" aria-hidden="true" />
					<span ng-show="field.help" id="{{field.id}}Help" class="help-block">{{field.help}}</span>
				</div>
			</div>
		</div>
		<div class="text-right">
			<button type="submit" class="btn btn-default">Edit user</button>
		</div>
	</form>
</div>
